# Dependencies
node_modules/

# Build
dist/
build/

# Environment
.env
.env.local
.env.*.local

# Database
*.db
*.sqlite

# Logs
*.log
npm-debug.log*

# IDE
.idea/
.vscode/
.DS_Store

# Prisma
prisma/migrations/

# Misc
*.local
